
.projects-container {
    display: inline-flex;
    width: calc(95vw - 160px);
    min-height: calc(100vh - 100px);
    margin-left:auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5% 0 0 0;
    text-align: center;
    & > h3 {
        display: inline-block;
        color: #b9cfea;
        font-size: 2.5em;
        padding-bottom: 30px;

        & > hr {
            display: inline-block;
            width: 10vw;
            vertical-align: middle;
        }
    }
    &__projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        &__item {
            display: flex;
            height: 50vh;
            width: calc(100vw - 273px);
            color: #b9cfeab6;
            padding-right: 20px;
            text-align: right;
            &:nth-child(odd), &:nth-child(odd) a, &:nth-child(odd) article div {
                flex-direction: row-reverse;
                text-align: left;
            }
            &:nth-child(odd) span {
                right: unset;
                left: -100px;
            }
            &__img {
                flex: 1;
                width: 100%;
                min-width: 300px;
                max-width: 900px;
                height: 70%;
                min-height: 200px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                right: -100px;
                border-radius: 5px;
                filter: opacity(0.4);
                text-decoration: none;
                color: #374d69;
                text-shadow: #0b1930af 0px 0px 4px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                font-size: 2em;
                font-weight: 700;
                box-shadow: 5px 10px 60px 0px #00000076;
                &:hover{
                    filter: opacity(1);
                    transition: all 0.5s ease;
                    transform: scale(1.1);
                    z-index: 3;
                    & > p {
                        display: none;
                    }
                }
                &__arrows {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    & > img {
                        cursor: pointer;
                        filter: drop-shadow(0px 2px 4px rgb(0, 0, 0));
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
                &__points {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding-bottom: 10px;
                    &__point {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #b9cfea;
                        margin: 0 5px;
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.2);
                            background-color: #374d69;
                        }
                        &.active {
                            background-color: #7b07a6d5 !important;
                        }
                    }
                }
            }
            &__article {
                flex: 1;
                position: relative;
                z-index: 2;
                max-width: 800px;
                
                & > h3 {
                    color: #ccd6f6;
                    font-family: Fredoka;
                }
                & > a {
                    text-decoration: none;
                    color: unset;
                    & > div {
                        background-color: #152f58;
                        padding: 15px;
                        font-size: 1.1em;
                        font-family: Fredoka;
                        font-weight: 400;
                        & > p {
                            margin: 0;
                            color: #dcd8dd;
                        }
                    }
                    & > p {
                        word-spacing:30px;
                        background-color: #4d046887;
                        text-align: center;
                    }
                }
            }
        }
    }
}