
.pop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 20px;
    right: 10%;
    transform: translateX(10%);

    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 8px;
        text-wrap: nowrap;
        overflow: hidden;
        animation: popUp 0.8s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        z-index: 1;

        &__close {
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: 1.2em;
            cursor: pointer;
        }
        &__message {
            font-size: 0.8em;
            font-weight: 400;
            margin: 10px 0 10px 0;
        }
    }
}

@keyframes popUp {
    0% {

        width: 0px;
    }
    100% {

        width: 100%;
    }
}