@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Cookie&family=Dosis:wght@400;500;700&family=Fredoka:wght@300;400;500;600&family=Lobster&family=Neuton:ital,wght@0,400;0,700;1,400&family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import 'portfolio/home';
@import 'portfolio/lateral';
@import 'portfolio/nav';
@import 'portfolio/footer';
@import 'portfolio/skills';
@import 'portfolio/projects';
@import 'portfolio/contact';
@import 'portfolio/login';
@import 'portfolio/loader';
@import 'admin/admin';
@import 'admin/modal';
@import 'common/popUp.scss';


#root {
    height: max-content;
}

h1,
h2,
h3 {
    font-family: Lato;
}

.presentation {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b1930;
    overflow: hidden ;
    #counter {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2em;
        color: aliceblue;
    }
    #box p {
        display: block;
        width: 40px;
        height: 1px;
        margin: 0;
        padding: 0;
        background-color: #048b8b;
    }
}

@media screen and (max-width: 760px) {
    div .lateral {
        display: none;

    }

    div .home-container {
        width: 85%;
        padding: 5% 3% 0 5%;
    }

    div .skills-container, div .projects-container, div .contact-container, div .admin-container {
        width: 100%;
        padding: 20px;
        height: auto;
    }

    div .skills-container {
        min-height: 20vh;
        &__skills {
            width: 100%;
            height: 60vh;
            margin-top: 20px;
            flex-wrap: wrap;
            justify-content: center;
            overflow-y: auto;

            &__item {
                width: 100%;
                margin: 0 auto 20px auto;
                min-height: 50%;
            }
        }
    }

    div .projects-container__projects__item {
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        width: 95%;
        margin: 0 auto 80px auto;
        display: block;
        height: auto;
        padding: 0;
    }

    div .projects-container__projects__item__img {
        left: 0;
        width: 100%;
        min-width: unset !important;
        position: unset;
        filter: unset;
    }

    div .projects-container__projects__item:nth-child(odd) .skills-container__projects__item__img {
        left: 0;
        width: 100%;
    }

    div .projects-container__projects__item__article {
        width: 100%;
        text-align: center;
    }

    div .admin-container__user__info {
        width: 100%;
        & > p{
            width: 100%;
        }
    }

    div .modal__container {
        width: 80%;
    }
}

@media screen and (max-width: 550px) {
    div .home-container {
        width: 100%;
    }

    div .admin-container {
        &__navbar {
            width: 80%;
            & > ul {
                flex-direction: column;
                justify-content: center;
                text-align: left;
            }
        }
        &__skills, &__projects {
            &__item {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    div .navbar-nav {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    div .home-container>h1,
    div .home-container>h2 {
        font-size: 3em;
    }

    div .admin-container > section {
        width: 90%;
    }

    div .modal__container {
        width: 95%;
    }
}

@media screen and (max-height: 620px) {
    div .lateral {
        bottom: -150px;
    }
}